<div class="gis_RendererDijit">
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="gis_RendererDijitContainerNode" class="gis_RendererDijitContentPane">

		<div class="contDiv">
			<label>
				<b>${i18n.selectQuery}</b>
			</label>
			<br/>
			<input type="select" data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="name:'renderedLayer',autoComplete:true,required:true,missingMessage:'${i18n.requiredError}',invalidMessage:'${i18n.requiredError}',searchAttr:'name',maxHeight:250,'class':'querySelect'"
			 data-dojo-attach-point="querySelectEpipedo" data-dojo-attach-event="onChange:_onQuerySelectEpipedoChange" />
		</div>

		<div class="contDiv">
			<label>
				<b>${i18n.selectQueryType}</b>
			</label>
			<br/>
			<input type="select" data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="name:'renderedField',autoComplete:true,required:true,missingMessage:'${i18n.requiredError}',invalidMessage:'${i18n.requiredError}',invalidMessage:'${i18n.requiredError}',searchAttr:'name','class':'querySelect'"
			 data-dojo-attach-point="querySelectField" data-dojo-attach-event="onChange:_onQueryFieldChange" />
		</div>

		<div class="contDiv">
			<label>
				<b>${i18n.selectRendererType}</b>
			</label>
			<br/>
			<select data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="name:'renderedType',autoComplete:true,required:true,missingMessage:'${i18n.requiredError}',invalidMessage:'${i18n.requiredError}','class':'querySelect'"
			 data-dojo-attach-point="querySelectType" data-dojo-attach-event="onChange:_onQueryTypeChange">
				<option value="color">نمایش با رنگ</option>
				<option value="size">نمایش با اندازه</option>
				<option value="both">نمایش با اندازه و رنگ</option>
			</select>
		</div>

		<div class="contDiv">
			<label>
				<b>${i18n.selectQueryMethod}</b>
			</label>
			<br/>
			<!-- <select data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="name:'renderedMethod',autoComplete:true,required:true,missingMessage:'${i18n.requiredError}',invalidMessage:'${i18n.requiredError}',searchAttr:'value','class':'querySelect'" data-dojo-attach-point="querySelectMethod" data-dojo-attach-event="onChange:_onQuerySelectMethod"> -->
			<select data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="name:'renderedMethod',autoComplete:true,required:true,missingMessage:'${i18n.requiredError}',invalidMessage:'${i18n.requiredError}','class':'querySelect'"
			 data-dojo-attach-point="querySelectMethod" data-dojo-attach-event="onChange:_onQuerySelectMethod">
				<option value="natural-breaks">طبقه بندی به روش "Natural Breaks"</option>
				<option value="equal-interval">طبقه بندی به روش "Equal Interval"</option>
				<option value="quantile">طبقه بندی به روش "Quantile"</option>
				<option value="standard-deviation">طبقه بندی به روش "Standard Deviation"</option>
				<option value="geometrical-interval">طبقه بندی به روش "Geometrical Interval"</option>
			</select>
		</div>

		<div class="contDiv" id="contDiv1">
			<label>
				<b>${i18n.selectQueryNumberOfClasses}</b>
			</label>
			<br/>
			<select data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="name:'renderedMethod',autoComplete:true,required:true,missingMessage:'${i18n.requiredError}',invalidMessage:'${i18n.requiredError}',searchAttr:'value','class':'querySelect'"
			 data-dojo-attach-point="querySelectNumberOfClasses">
				<option value="2">2</option>
				<option value="4">4</option>
				<option value="6">6</option>
				<option value="8">8</option>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="32">32</option>
			</select>
		</div>

		<div class="contDiv" id="contDiv2">
			<label>
				<b>${i18n.selectStandardDeniationInterval}</b>
			</label>
			<br/>
			<select data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="name:'renderedMethod',autoComplete:true,required:true,missingMessage:'${i18n.requiredError}',invalidMessage:'${i18n.requiredError}',searchAttr:'value','class':'querySelect'"
			 data-dojo-attach-point="querySelectStandardDeniationInterval">
				<option value="1">1</option>
				<option value="0.5">0.5</option>
				<option value="0.33">0.33</option>
				<option value="0.25">0.25</option>
			</select>
		</div>

		<!-- <label>
			<p>
				<b>تنظیم شفافیت :</b>
			</p>
		</label>
		<input data-dojo-attach-point="opacityControl" id="opacityControl" name="opacityControl" data-dojo-type="dijit/form/HorizontalSlider"
		 data-dojo-props="maximum:1, minimum:0, value:0.5, intermediateChanges: true," />

		<ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="topDecoration" style="right:10px; width:90% ; color:gray;">
			<li>0%</li>
			<li>50%</li>
			<li>100%</li>
		</ol>
		
		<br> -->

		<!-- <div class="searchSelector searchAttributesSpatialFilter" data-dojo-attach-point="divAttributeSpatialFilter">
			<label>
				اعمال فیلتر مکانی :
			</label>
			<br>
				<select data-dojo-attach-point="selectAttributeSpatialFilter" data-dojo-type="dijit/form/Select" style="width:100%;">
				</select>
			</br>
		</div> -->


		<label>
			<p>
				<b>تنظیم شفافیت :</b>
			</p>
		</label>
		<input data-dojo-attach-point="opacityControlBtn" id="opacityControlBtn" name="opacityControlBtn" data-dojo-type="dijit/form/HorizontalSlider"
		 data-dojo-props="maximum:1, minimum:0, value:0.6, intermediateChanges: true," />
		 <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="topDecoration" style="right:11px; width:90% ; color:gray;">
			<li>0%</li>
			<li>50%</li>
			<li>100%</li>
		</ol>

		<div class="contDiv">
				<br>
			<div data-dojo-type="dijit.form.DropDownButton" data-dojo-attach-point="fromColorBtn">
				<span id="fromColorDisplay">
					${i18n.fromColor}
				</span>
				<div class="colorPicker" data-dojo-type="dojox.widget.ColorPicker" id="fromColorPicker" data-dojo-attach-point="fromColorCP"
				 data-dojo-attach-event="onChange:_onFromColorChange"></div>
			</div>
		</div>

		<div class="contDiv">
			<div data-dojo-type="dijit.form.DropDownButton" data-dojo-attach-point="toColorBtn">
				<span id="toColorDisplay">
					${i18n.toColor}
				</span>
				<div class="colorPicker" data-dojo-type="dojox.widget.ColorPicker" id="toColorPicker" data-dojo-attach-point="toColorCP"
				 data-dojo-attach-event="onChange:_onToColorChange"></div>
			</div>
		</div>

		<div align="center" class="contDiv">
			<button data-dojo-attach-point="setRendererButton" data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-cog fa-fw'">${i18n.buttonApply}</button>
			<button data-dojo-attach-point="initRendererButton" data-dojo-type="dijit/form/Button" data-dojo-props= "iconClass:'fa fa-history fa-fw'">${i18n.buttonReset}</button>
		</div>

	</div>
</div>