<div class=="gis_CClassedColorSlider">
    <div class="formContainer">
            <div data-dojo-type="dijit/form/Form">
                <table cellspacing="5" style="width:100%;">
                        <tr>
                                <td>
                                    ${i18n.format}:
                                </td>
                                <td>
                                    <input type="select" data-dojo-type="dijit/form/FilteringSelect" data-dojo-props="name:'format',autoComplete:true,required:true,searchAttr:'name',style:'width:100%;'" data-dojo-attach-point="formatDijit" />
                                </td>
                        </tr>
                </table>
            </div>

    </div>
</div>