<div class="cmv-widget cmv-widget-mapinfo">
    <div id="mapInfoDijit"></div>
</div>
<div class="cmv-widget cmv-widget-basemaps">
    <div id="basemapsDijit"></div>
</div>
<div class="cmv-widget cmv-widget-growler">
    <div id="growlerDijit"></div>
</div>
<div class="cmv-widget cmv-widgets-left">
    <div id="homeButton"></div>
    <div id="locateButton"></div>
    <div id="timeButton"></div>
</div>
<!-- <div style="position: absolute;left:10px;top:150px;z-index:40;">
    <div id="timeButton">
    </div>
</div> -->
<div class="cmv-widget cmv-widget-geocoder">
    <div id="geocoderButton"></div>
</div>